django
djangorestframework
psycopg2
psycopg2-binary>=2.9,<3.0
Pillow
django-cors-headers
stripe
PyJWT
pusher
django-jazzmin
channels
channels-redis
django-allauth
redis
django-suit
django-bootstrap-v5
django-crispy-forms
django-bootstrap4
crispy-bootstrap4==2024.10
https://github.com/darklow/django-suit/tarball/v2
